@model IEnumerable<MvcLinqSql.Models.area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.area_des)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.area_des)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.area_cod }) |
            @Html.ActionLink("Datails", "Datails", new { id=item.area_cod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.area_cod })
        </td>
    </tr>
}

</table>
